*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    background-color: rgb(255, 255, 255);
    background-image: url(img/background.jpg);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body>h1 {
    margin-top:3rem;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

#search-input, button {
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 15px 20px;
}

#search-input{
    font-weight: bold;
}

#search-input:focus {
    outline: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 1rem;
}

.box {
    background-color: rgba(0,0,0,0.9);
    color: white;
    width: 17rem;
    height: 22rem;
    border-radius:15px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 1rem;
    padding: 0 2rem;
}

.image-container{
    width:100%;
    height:96px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.extra-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    margin: 5px 0;
}

.extra {
    line-height: 30px;
}

.name-upgrade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade {
    width: 38px;
    margin-left: 1rem;
    height: 25px;
    background-color: rgba(0,0,0);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.type {
    text-transform: capitalize;
}

.name {
    text-transform: capitalize;
}

.show-upgrade {
    font-size: 1.2rem;
    font-weight: bold;
}